/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#board-container {
  position: relative;
  width: 50%;
}

.game-row {
  width: 100%;
}

.game-cell {
  display: inline-block;
  width: 30%;
  height: 100px;
  border: 3px solid black;
  text-align: center;
  font-size: 90px;
  overflow: hidden;
}

.game-cell:hover{
  cursor: pointer;
  background-color: #DCDCDC;  
}

#message-board {
  width: 50%;
  height: 125px;
  border: 3px solid red;
  color: red;
  font-size: 3vw;
  background-color: white;
  position: absolute;
  top: 95px;
  left: 20%;
  display:none;
  text-align: center;
  line-height: 30px;
}

#name-and-record-div {
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  width: 300px;
}

#reset-button {
  margin-top: 10px;
  background-color: 
}