<body ng-controller="MyControllers">

<div ng-repeat="row in board" id="game-board">
    <div id="{{box.id}}" ng-repeat="box in row">
        <div ng-click="takeSquare(box)">{{box.letter}}</div>
    </div>
</div>

<button ng-click="resetButton()" id="reset-button">Reset</button>

<button ng-click="startGame()" id="start-button">Flip For Who Goes First</button>

<p>Next Player: {{currentPlayer}}</p>

<div id="name-and-record-div">
  <h3>Insert Player Name</h3>
  <input type="text" ng-model="name" placeholder="Name" ng-keydown="setName($event)">
  <p>{{playerName}}</p>
  <p>wins: {{playerRecord.wins}}, losses: {{playerRecord.losses}}, ties: {{playerRecord.ties}}</p>
  <p>{{statusMessage}}</p>
</div>

<div id="winner"></div>
